.header{
  background: #450E3E;
  color: white;
  margin-bottom: 3rem;
  padding: $m-size $m-size;
}

.header__title {
  font-size: 2rem;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  color: $sky-blue;
  font-weight: 500;
  margin: 0;
}
